
body,
html {
height: 100%;
margin: 0;
font-family: "Bangers", monospace;
font-size: 20px;
font-weight: 500px;
color: whitesmoke;
min-height: 100%;
background-image: url("pics/beach_soccer.jpeg"), url("pics/beach_soccer.jpeg");
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
/* filter: blur(8px);
-webkit-filter: blur(8px);*/
}




/* All 'a' links */
a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 400px;
  font-size: 20px;
}
a:hover{
  text-decoration: underline;
  color: whitesmoke;

}
 /* a:active {
  font-size: inherit;
} */



#logo {

  filter: grayscale(100%);
}

/* #leg_steps {

  font-size: inherit;
} */

/* h4 {
  font-weight: normal;
  text-align: center;
}
.scoreInfo {
  text-align: right;
  margin-bottom: -5px;
}*/

h3 {
  color: whitesmoke;
  font-size: inherit;
}

/* Style tab links */
.tablink {
  float: right;
  border: none;
  /* outline: none; */
  /* width: 25%; */
  /* border-radius: 5px; */
  /* overflow: auto; */
  cursor: pointer;
  color: white;
  /* font-size: 2rem; */
  /* background: rgba(0, 0, 0, 0.1); */
  /* border-bottom: 3px solid #eee; */
  /* border-right: 1px solid #eee; */
  /* padding: 15px; */
  /* font-family: "Inconsolata", monospace; */
  text-transform: none;
  background: inherit;
  font-size: x-small;
}


.tabs {

  float: right;
  display: flex;

}

.al_left {
  text-align: left;
}






/* .tabs :hover {
  background-color: deepskyblue;
  outline: 0;

}
 */

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: whitesmoke;
  display: none;
  padding: 100px 19px;

  max-width: 100%;
  text-align: center;
  /* background-image: url("pics/beach_soccer.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;*/

}

legend {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
}

#field_steps {
  border-radius: 15px 50px 30px 15px;
}

ol {
  list-style-position: outside;
}

/* CSS for Youtube*/
.yt-resp {
  position: relative;
  overflow: hidden;
  padding-top: 46.25%;

}

.iframe-resp {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  border: 0;
}

.scoreMsg {
  display: none;
}

/* Outer */
.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(3, 3, 3, 0.75);
}

/* Inner */
.popup-inner {
  max-width: 500px;
  max-height: 400px;
  width: 90%;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
  border-radius: 20px;
  background: #EECC89;

  text-align: center;
  overflow-x: hidden;
  /*overflow-y: scroll;*/
}
#inner_2 {
  max-width: 530px;
  max-height: 800px;
  width: 90%;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
  border-radius: 20px;
  background: #EECC89;
  /*background: linear-gradient(45deg, #5ac01c 0%, #1cc110 50%, #18dc0c 100%);*/
  border: 3px solid antiquewhite;
  text-align: center;
  overflow: hidden;
  font-size: 18px;



}

/* Pop up Close Button */
.popup-close {
  width: 20px;
  height: 20px;
  padding-top: 5px;
  display: inline-block;
  position: absolute;

  transition: ease 0.25s all;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  border-radius: 10px;
 /* background: radial-gradient(black, transparent);*/
  font-family: inherit;
  font-size: 15px;
  text-align: center;
  line-height: 90%;
  color: #fff;
  margin-top: -20px;
  left: 10px;

}

#popup_close_2 {
  width: 20px;
  height: 20px;
  padding-top: 5px;
  display: inline-block;
  position: absolute;

  transition: ease 0.25s all;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  border-radius: 10px;
 /* background: radial-gradient(black, transparent);*/
  font-family: inherit;
  font-size: 15px;
  text-align: center;
  line-height: 90%;
  color: #fff;
  margin-top: -30px;
  left: 190px;

}



.popup-close:hover {
  -webkit-transform: translate(50%, -50%) rotate(180deg);
  transform: translate(50%, -50%) rotate(180deg);
  background: #362317;
  text-decoration: none;
}

#please_fill {
  background: linear-gradient(45deg, #415e76 0%, #478ed1 50%, #061a3a 100%);
  border-radius: 30px;
  padding: 15px;
  font-family: "Inconsolata", monospace;
  font-weight: normal;
}

/*Survey + Quiz BORDERS, RADIOS*/

/* mouseover pointer survey */
label,
#age,
.radios,
.check:hover {
  cursor: pointer;
  display: unset;
  margin-bottom: 5px;
}
.contact_lbl:hover{
  cursor: auto;
}
/* age select range*/
#age {
  width: 70%;
  font-size: 18px;
  font-family: inherit;
  color: whitesmoke;

  background: #EECC89;
}

#bor_country,
#bor_others,
#bor_abroad,
#bor_way,
#bor_age,
#bor_gender,
#bor_years {
  cursor: default;
  background: radial-gradient(#362317, transparent);
  font-family: inherit, cursive;
  padding: 5px;
  border-radius: 10px;
}

.surv_ques {

  display: inline-flex;
  margin-bottom: 10px;
  margin-top: 20px;


}

.bor_choose {
   background: radial-gradient(black, transparent);
   cursor: auto;
   padding: 8px;
   border-radius: 10px;
   text-align: center;
   /*margin-right: 70px;
   margin-left: 40px;*/
   font-weight: normal;
   font-style: normal;
   text-shadow: 0 0 10px black;
  /* display: inline-flex;*/
}

.p_corr {
  display: inline-block;
  margin-left: -5px;

}

.rads {
  cursor: pointer;
}

em {
  background: radial-gradient(black, transparent);
  color: gold;
  padding: 2px;
  font-weight: 600;
}

/*BUTTONS*/

#start_survey {
  background: #EECC89;
  /*background: linear-gradient(45deg, #131415 0%, #20272d 50%, #3b8d3b 100%);*/
  color: whitesmoke;
  font-family: inherit;
  font-size: 19px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  /* top: 15px;
  margin-right: 10px; */
  text-align: center;
  position: relative;
  text-transform: uppercase;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#start_quiz {
  opacity: 0.2;
  top: -2px;
  background: #EECC89;
  /*background: linear-gradient(45deg, #131415 0%, #20272d 50%, #3b8d3b 100%);*/
  color: whitesmoke;
  font-family: inherit;
  font-size: 19px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  /*top: 15px;*/
  margin-right: 10px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

/* Grow */
 .hvr-grow, .next, .back {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active,
.next:hover,
.next:focus,
.next:active,
.back:hover,
.back:focus,
.back:active
 {

  transform: scale(1.1);
  background: #362317;
}

p#instr {
  background: #EECC89;
 /* background: linear-gradient(45deg, #131415 0%, #20272d 50%, #3b8d3b 100%);*/
  color: whitesmoke;
  font-family: inherit;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  cursor: help;
  position: fixed;
  left: 15px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.next {
  background: #EECC89;
 /* background: linear-gradient(45deg, #131415 0%, #20272d 50%, #3b8d3b 100%);*/
  color: whitesmoke;
  font-family: inherit;
  font-size: 15px;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  right: 40px;

  position: fixed;

  margin-top: 0px;
  MARGIN-RIGHT: -20PX;

  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}



.back {
  background: #EECC89;
 /* background: linear-gradient(45deg, #131415 0%, #20272d 50%, #3b8d3b 100%);*/
  color: whitesmoke;
  font-family: inherit;
  font-size: 15px;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  margin-top: 0px;
  right: 70px;
  position: fixed;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}




/* Submit Survey Button*/
#submit_survey {
  background: #EECC89;
  color: whitesmoke;
  font-family: inherit;
  font-size: 20px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 25px;
 /* width: 80px;*/
  right: 12px;
  position: inherit;

  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#sub_quiz {
  display: none;
  background: #EECC89;
  /*background: linear-gradient(45deg, #131415 0%, #20272d 50%, #3b8d3b 100%);*/
  color: whitesmoke;
  font-family: inherit;
  font-size: 19px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  top: 15px;
  margin-right: 10px;
  text-align: center;
  position: relative;

  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

/* Submit Contact button */

#submit_contact {
  background: #EECC89;
 /* background: linear-gradient(45deg, #131415 0%, #20272d 50%, #3b8d3b 100%);*/
  color: whitesmoke;
  font-family: inherit;
  font-size: 20px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  /*margin-left: 430px;*/

  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#check_res {

  background: #EECC89;
 /* background: linear-gradient(45deg, #131415 0%, #20272d 50%, #3b8d3b 100%);*/
  color: whitesmoke;
  font-family: inherit;
  font-size: 20px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;

  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);


}

/* END BUTTONS*/

/* MAIN CONTAINERS */

.container {
  border-radius: 20px;
  /* background: black;
  background: linear-gradient(45deg, #131415 0%, #20272d 50%, #3b8d3b 100%); */
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  background: #91C5FA;
}
 .cont_surv {
  /* background: black;
  background: linear-gradient(45deg, #131415 0%, #20272d 50%, #3b8d3b 100%);
  border-radius: 30px; */
  padding: 14px;
  text-align: center;
  margin-top: 20px;

}

/* QUIZ CONTAINERS*/
.count {
  background: antiquewhite;
  color: #0f1403;
  font-family: "Patua One", cursive;
  padding: 10px;
  border-radius: 15px;
  padding-right: 40px;
  padding-left: 40px;
}
.situation {
   background: radial-gradient(black, transparent);
   padding: 8px;
   border-radius: 10px;
   text-align: center;
   font-weight: normal;
   color: whitesmoke;
   text-shadow: 0 0 10px black;
   word-wrap: break-word;
   display: inline-block;
   /*margin-left: 80px;*/
}
 .questions {
  position: relative;
}

 /* .cont_dial {

  text-align: left;
} */

/* .dialos {
  border-radius: 10px;
  background: #8e24aa;
  background: linear-gradient(45deg, #415e76 0%, #478ed1 50%, #061a3a 100%);
  padding: 12px;
  text-align: left;
  margin-top: 15px;
  color: whitesmoke;
} */
.cont_answer {
 /* margin-top: 40px;
 /* border-radius: 10px;
  background: #8e24aa;
  background: linear-gradient(45deg, #09182d 0%, #478ed1 50%, #c3cbd5 100%);
  padding: 20px;

  color: whitesmoke;*/
  font-size: 17px;
  text-align: center;
  margin-bottom: 20px;
}
.exp {
  background: linear-gradient(45deg, #5ac01c 0%, #1cc110 50%, #18dc0c 100%);;
  padding: 25px;
  border-radius: 15px;

}
.resultMsg {
  text-align: right;
}

/*Contact form*/
#contact {

  text-align: left;

}

/* END CONTAINERS */

/* HOVER INSTRUCTIONS STYLES */

#inst_hov {
  display: none;
  position: absolute;
  width: 400px;
  padding: 8px;
  background: #eeeeee;
  color: #0867b0;
  border-radius: 20mm;
  border: 1px solid #1a1a1a;
  font-size: 60%;
}

/* CONTACT FORM Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  font-family: "Patua One", cursive;
  font-size: 20px;
  border: 5px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background: transparent;
}

.field_about {
  border-radius: 15px 50px 30px 15px;
}
/* #foot_quiz {

  width: 50%;
  margin-top: 500px;
  margin-left: 230px;
  text-align: center;
} */
#footer {

font-size: 12px;
display: block;
margin-top: 480px;
padding: unset;
background: transparent;
}


.score {
  display: none;
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
  font-size: xxx-large;
}
#results {
  display: none;
  background: linear-gradient(45deg, #131415 0%, #20272d 50%, #3b8d3b 100%);
  border-radius: 20px;
  padding: 5px;
}

/*
@media (max-width: 375px) {
  .tablink {
    overflow: hidden;
    white-space: nowrap;
  }

  .active {
    font-size: 18px;
  }
  #active_quiz {
    margin-left: -9px;
  }
  .situation {
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }
  .bor_choose {
    display: unset;
    margin-right: auto;
    margin-left: auto;
  }
  .next :hover {
    background: midnightblue;
  }
  .cont_dial {
    padding-top: 40px;
  }
  .dialos {
    margin-top: 40px;
  }
  #foot_about {
    width: 50%;
    margin-top: 300px;
    margin-left: 50px;
    font-size: 15px;
 }
 .footer {
   font-size: 15px;
 }
} */
