/* Set height of body and the document to 100% */
body,
html {
  height: 100%;
  margin: 0;
  background: #8E24AA;
  background: linear-gradient(45deg,  #42a5f5 0%,#478ed1 50%,#0d47a1 100%);

  font-family: 'Inconsolata', monospace;;
  font-size: 20px;
  color: white
}

/* All 'a' links */
a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 20px;
}
 .active {
  font-size: 23px;
}
/* p link*/
.choose {

text-align: center;
font-weight: 600;
}


h4 {

  font-weight: normal;
  text-align: center;

}

h3 {
color: #6a9c22;

}
#inst_h3 {
color: black;
background: #6a9c22;
border-radius: 10px;
padding: 20px;

}

/* Style tab links */
.tablink {
  background-color: #6a9c22;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 11px;
  font-family: 'Patua One', cursive;
  width: 25%;
  border-radius: 20px;
  overflow: hidden;
  white-space: nowrap;

}
.tabs :hover {
  background-color: #88d320;
  outline: 0;
  text-transform: uppercase;

}


/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 19px;
  height: 100%;
  text-align: center;
}

legend {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
}

#field_steps {

border-radius: 15px 50px 30px 15px;

}

ol {

list-style-position: outside;

}
/* CSS for Youtube*/
.yt-resp {
  position: relative;
  overflow: hidden;
  padding-top: 46.25%;
}

.iframe-resp {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  border: 0;
}


/* Outer */
.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(3, 3, 3, 0.75);
}

/* Inner */
.popup-inner {
  max-width: 380px;
  max-height: 400px;
  width: 90%;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
  border-radius: 20px;
  background: whitesmoke;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
}
#inner_2 {
  max-width: 500px;
  max-height: 400px;
  width: 90%;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
  border-radius: 20px;
  background: whitesmoke;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Pop up Close Button */
.popup-close {
  width: 20px;
  height: 20px;
  padding-top: 2px;
  display: inline-block;
  position: sticky;
  top: 20px;
  right: 545px;
  transition: ease 0.25s all;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  border-radius: 1000px;
  background: rgba(0, 0, 0, 0.8);
  font-family: 'Patua One', cursive;
  font-size: 15px;
  text-align: center;
  line-height: 90%;
  color: #fff;
}

.popup-close:hover {
  -webkit-transform: translate(50%, -50%) rotate(180deg);
  transform: translate(50%, -50%) rotate(180deg);
  background: rgba(0, 0, 0, 1);
  text-decoration: none;
}

/*BUTTONS*/


.btn {

  background-color: whitesmoke;
  color: #000000;
  font-family: inherit;
  font-size: 19px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  top: 15px;
  margin-right: 10px;
  text-align: center;
  position: relative;

}
#start_survey {
background-color: whitesmoke;
  color: #000000;
  font-family: inherit;
  font-size: 19px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  top: 15px;
  margin-right: 10px;
  text-align: center;
  position: relative;

}
#start_quiz {
display: none;
top: -2px;
background-color: whitesmoke;
  color: #000000;
  font-family: inherit;
  font-size: 19px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  /*top: 15px;*/
  margin-right: 10px;
  text-align: center;
  position: relative;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
  text-transform: uppercase;
}

p#instr {
  background-color: #6a9c22;
  color: #0f1403;
  font-family: 'Patua One', cursive;
  font-size: 17px;
  padding: 5px;
  border-radius: 5px;
  cursor: help;
  position: fixed;
 /* margin-top: 3px;*/
  margin-right: 30px;

 }



  .next {
  background-color: #6a9c22;
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  right: 40px;
  margin-top: 16px;
  position: fixed;
 }



.back {
    background-color: #6a9c22;
    color: #000000;
    font-family: inherit;
    font-size: 18px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    margin-top: 16px;
    position: fixed;
    right: 100px;

 }


 #sub_quiz {

  display: none;
  background-color: #6a9c22;
  color: #000000;
  font-family: inherit;
  font-size: 19px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  top: 15px;
  margin-right: 10px;
  text-align: center;
  position: relative;
 }

/* END BUTTONS*/



/* QUIZ CONTAINERS*/
.count {
  background: #6a9c22;
  color: #0f1403;
  font-family: 'Patua One', cursive;
  padding: 10px;
  border-radius: 15px;
  padding-right: 40px;
  padding-left: 40px;

}
.situation {
    background: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-right: 110px;
    margin-left: 60px;
    font-weight: 600;
}
.situ {
  text-align: center;
  padding-left: 40px;
}


.cont_dial {

  border-radius: 10px;
  background-color: #6a9c22;
  padding: 18px;
  text-align: left;
  margin-top: 30px;
  color: black;

}

.dialos {

  border-radius: 10px;
  background-color: whitesmoke;
  padding: 12px;
  text-align: left;
  margin-top: 30px;
  color: black;


}
.cont_answer {

  border-radius: 10px;
  background-color: #6a9c22;
  padding: 18px;
  text-align: left;
  margin-top: 30px;
  color: black;

}
.answers {

  border-radius: 10px;
  background-color: whitesmoke;
  padding: 12px;
  text-align: left;
  margin-top: 30px;
  color: black;

}


 /* HOVER STYLES */

 #inst_hov {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border-radius: 20mm;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}






/* CONTACT FORM Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  font-family: 'Patua One', cursive;
  font-size: 20px;
  border: 5px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

}


#submit_survey {
  background-color:#6a9c22;
  color: #000000;
  font-family: 'Patua One', cursive;
  font-size: 18px;
  position: fixed;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  width: 80px;
  right: 12px;
  position: inherit;
}

/* mouseover pointer survey */
label,
#age,
.radios,
.check:hover {
  cursor: pointer;
}

#age {

  width: 70%;
  font-size: 18px;
}

#bor_country,
#bor_others,
#bor_abroad,
#bor_way,
#bor_age,
#bor_gender,
#bor_years {
  cursor: default;
  background: whitesmoke;
font-family: 'Patua One', cursive;
padding: 5px;
border-radius: 10px;

}

.bor_choose {

  cursor: default;
  background: whitesmoke;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  margin-right: 80px;
  margin-left: 60px;
  font-weight: 600;
}
}

.rads {

  cursor: pointer;
}

.cont_surv {

  border-radius: 30px;
  background-color: #6a9c22;
  padding: 14px;
  text-align: left;
  margin-top: 20px;

}


/* Submit Contact button */
input[type="submit"],
#submit_contact {
  background-color: whitesmoke;
  color: black;
  font-family: 'Patua One', cursive;
  font-size: 20px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 20px;
  background-color:#6a9c22;
  padding: 20px;
  text-align: left;
  margin-top: 30px;
}

#field_about {

  border-radius: 15px 50px 30px 15px;

}


@media (max-width: 375px) {
  .tablink {
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
  }
  .active {
    font-size: 18px;
 }

}
